<launch>
  <!--arg name="can_hardware_id" default="59879" /-->
  <arg name="can_hardware_id" default="40461" />
  <arg name="can_circuit_id" default="0" />
  <arg name="can_bit_rate" default="500000" />
  <arg name="viz_frame_id" default="me_viz" />
  <arg name="sensor_frame_id" default="mobileye" />
  <arg name="use_kvaser" default="false" />
  <arg name="kvaser_hardware_id" default="40461" />
  <arg name="kvaser_circuit_id" default="0" />
  <arg name="use_socketcan" default="false" />
  <arg name="socketcan_device" default="can0" />

  <node pkg="mobileye_560_660" type="mobileye_560_660" name="mobileye_560_660">
    <param name="viz_frame_id" value="$(arg viz_frame_id)" />
    <param name="sensor_frame_id" value="$(arg sensor_frame_id)" />
  </node>
</launch>
