<launch>
  <arg name="port" default="/dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_850363132303519001D1-if00" />
  <arg name="baud" default="9600" />

  <node pkg="rosserial_python" type="serial_node.py" name="dev_panel_view" output="screen">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
  </node>
</launch>
